/* font-family: 'Bebas Neue', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif; */
* {
    margin: 0 auto;
    padding: 0 auto;
}
html {
    background: rgba(122, 191, 191, .5);
}
body {
    width: 80%;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
}
.nav {
    display: inline-flex;
    order: -1;
    top: 10px;
    height: 80px;
    width: auto;
    margin-bottom: 10px;
    padding: 20px;
}
.nav ul li {
    text-decoration: none;
    list-style-type: none;
}
.breakfast, .brunch, .lunch, .dinner,
.apps, .desserts, .beverages {
    display: none;
}
h1{
    text-align: center;
    font-size: 40px;
}
menu li {
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
    /* width: 100%; */
    padding: 20px;
}
menu a {
    text-decoration: none;
    color: #EB5428;
    font-size: 20px;
    display: block;
}
.main-nav h2 {
    display: none;
}
.main-nav {
    position: relative;
    width: 20%;
}
.home {
    position: relative;
    width: 80px;
    height: 80px;
    justify-self: center;
    /* margin-left: 20px; */
    background-color: #EB5428;
    text-align: center;
}
.avatar {
    position: relative;
    width: 20%;
}
header {
    /* position: absolute; */
    margin-top: 150px;
}
.description img {
    width: 100%;
}
/*       Typography       */
h1, h2, h3 nav a, figcaption, 
menu li, #social li, footer {
    font-family: 'Bebas Neue', cursive;
}
p, dd, li, nav, input {
    font-family: 'Montserrat', sans-serif;
}
dt {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.side-dishes {
    background-color: #7ABFBF;
}
@media screen and (min-width: 1280px) {
    
}