/* font-family: 'Bebas Neue', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif; */
* {
    margin: 0 auto;
    padding: 0;
}
html {
    background: rgba(122, 191, 191, .5);
    display: flex;
    flex-direction: column;
    column-width: 100%;
}
body {
    width: 80%;
    background-color: #F2F2F2;
    display: relative;
    
}
.nav {
    /* display: absolute; */
    position: absolute;
    /* order: 1; */
    top: 0;
    height: 80px;
    width: auto;
    margin-bottom: 10px;
}
.nav ul li {
    text-decoration: none;
    list-style-type: none;
}
.breakfast, .brunch, .lunch, .dinner,
.apps, .desserts, .beverages {
    display: none;
}
/*        Header        */
h1{
    text-align: center;
    font-size: 40px;
}
menu {
    text-align: center;
}
menu li {
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
    /* width: 100%; */
    padding: 5px;
}
menu a {
    text-decoration: none;
    color: #EB5428;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
a svg {
    order: -1;
}
.nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0;
}
.main-nav h2 {
    display: none;
}
.main-nav {
    display: flex 1 1 auto;
    grid-column: 1/2;
    grid-row: 1/2;
}
.home {
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: #EB5428;
    text-align: center;
}
.avatar {
    grid-column: 3/4;
    grid-row: 1/2;
}
header {
    /* position: absolute; */
    margin-top: 150px;
}
.description img {
    width: 100%;
}
.description p{
    padding: 10px;
    text-align: left;
    justify-content: center;
    line-height: 1.5em;
}
/*              Details                  */
.details h2 {
    text-align: center;
}
dl dd {
    display: inline;
    margin: 0;
}
dl dd:after {
    display: block;
    content: "";
}
dl dt {
    display: inline-block;
    padding-right: 10px;
}
dl {
    text-align: left;
    position:relative;
    margin-left: 5px;
    padding: 10px;
}
/*                     Ingredients                  */
.ingredients h2 {
    text-align: center;
}
.ingredients ul {
    justify-content: left;
    padding: 10px 0 10px 30px;
}
.ingredients li {
    list-style: square;
    padding: 10px;
    width: 100%;
    /* margin-right: 100px; */
}
/*                     Directions                   */
.directions h2 {
    text-align: center;
}
.directions ol {
    padding: 10px;
    margin: 10px 0 0 20px;
    line-height: 1.5em;
}
.directions li {
    padding-left: 5px;
}
/*                     Side Dishes                  */
.side-dishes h2 {
    text-align: center;
}
.side-dishes figure {
    display: inline-flex;
}
/*                     Typography                   */
h1, h2, h3 nav a, figcaption, 
menu li, #social li, footer {
    font-family: 'Bebas Neue', cursive;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 25px;
}
p, dd, li, nav, input {
    font-family: 'Montserrat', sans-serif;
}
dt {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.side-dishes {
    background-color: #7ABFBF;
}
/*                   Connect                  */
.connect ul {
    text-align: center;
}
.connect li {
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
    /* width: 100%; */
    padding: 5px;
}
.connect a {
    text-decoration: none;
    color: #EB5428;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
/*                   Footer                   */
footer {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}
footer img {
    width: 50%;
    order: -1;
    margin-bottom: 10px;
    margin-top: 10px;
}
@media screen and (min-width: 1280px) {
    
}